@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 480px) {
    .footer {
        width: 100%;
        height: 25vh;
        background-color: $secondary-color;
        font-family: $primary-font;

        @include centerCard();
        justify-content: space-evenly;

        &__links {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        a {
            font-size: 1.5em;
            font-weight: 700;
            width: 1em;
            height: 1em;
            padding: 1em;
            margin: 0 1em;
            background-color: $primary-color;
            color: $secondary-color;
            @include centerSelf();
            border-radius: 100%;
            text-decoration: none;
        }

        &__rights {
            display: none;
        }

        &__email {
            font-size: 1.125em;
            color: $primary-background;
        }

    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
        width: 100%;
        height: 25vh;
        background-color: $secondary-color;
        font-family: $primary-font;

        @include centerCard();
        justify-content: space-evenly;

        &__links {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        a {
            font-size: 1.5em;
            font-weight: 700;
            width: 1em;
            height: 1em;
            padding: 1em;
            margin: 0 1em;
            background-color: $primary-color;
            color: $secondary-color;
            @include centerSelf();
            border-radius: 100%;
            text-decoration: none;
        }

        &__rights {
            display: none;
        }

        &__email {
            font-size: 1.125em;
            color: $primary-background;
        }
    }
}

@media screen and (min-width: 769px) {
    .footer {
        width: 100%;
        height: 15vh;
        padding: 0 2em 0;
        background-color: $secondary-color;
        font-family: $primary-font;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        &__links {
            width: 25%;
            display: flex;
            justify-content: flex-end;
        }

        a {
            font-size: 1.5em;
            font-weight: 700;
            width: 1em;
            height: 1em;
            padding: 1em;
            margin: 0 0.5em;
            background-color: $primary-color;
            color: $secondary-color;
            @include centerSelf();
            border-radius: 100%;
            text-decoration: none;
        }

        &__rights {
            color: $rights-color;
            font-weight: 600;
            font-size: 0.5em;
            text-align: center;
        }

        &__email {
            font-size: 1.1em;
            color: $primary-background;
        }
    }
}