@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 480px) {
    .projects {
        margin: $section-margin;     
        font-family: $primary-font;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__card {
            height: 100%;
            margin: 1.5em 0em;
            
            
        }

        &__card--image {
            width: 100%;
            margin-bottom: 1em;
        }
        
        &__card--tech {
            margin-bottom: 0.5em;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.95em;
        }

        &__card--title {
            font-size: 2em;
            font-weight: 600;
        }

        &__card--description {
            margin: 2em 0em;
            color: $secondary-font-color;
        }

        &__card--buttons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2.5em;


            button {
                font-family: $primary-font;
                font-weight: 600;
                width: 8em;
                @include centerSelf();
                margin-right: 1em;
                background-color: $primary-background;
                border: none;
                display: flex;
                justify-content: flex-start;

                img {
                    margin-left: 1em;
                }
            }
        }

    }
}