@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 480px) {
    .section-title {
        @include centerSelf();
        height: 5vh;
        margin: auto;
        font-family: $primary-font;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .section-title {
        @include centerSelf();
        
        height: 5vh;
        margin: 1em auto;
        font-family: $primary-font;
    }   
}