$primary-background: white;
$primary-color: #BAE8E8;
$secondary-color: #272643;
$secondary-font-color: #8C9CB1;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap');

$primary-font: 'Inter';
$secondary-font: 'DM Sans';

$skill-image-size: 5em;