@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .navigation {
    width: 90%;
    height: 5vh;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .navigation__logo {
    height: 2.5em;
    width: 2.5em;
    margin: 1em;
  }
  .navigation__title {
    font-family: "Inter";
    font-size: 1.5em;
  }
  .navigation__menu {
    margin: 1em;
    width: 1em;
    height: 1em;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    margin: 2em;
    height: 95vh;
    padding: 2em;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro__subtitle {
    font-weight: 500;
    color: #8C9CB1;
    margin-bottom: 2em;
  }
  .intro__title {
    font-weight: 600;
    font-size: 4em;
    margin-bottom: 1em;
  }
  .intro__button {
    width: 100%;
    height: 4em;
    margin-bottom: 2em;
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.25em;
    background-color: #BAE8E8;
    border: 2px solid #272643;
    border-radius: 0.25em;
    box-shadow: 0.25em 0.25em #272643;
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: auto;
    font-family: "Inter";
  }
}
@media screen and (max-width: 480px) {
  .skills {
    height: 95vh;
    margin: 4em 2em;
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 1em;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    font-family: "Inter";
    color: #8C9CB1;
    font-weight: 500;
  }
  .skills__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__card img {
    height: 5em;
    width: 5em;
  }
  .skills__card p {
    margin-top: 2em;
  }
}
@media screen and (max-width: 480px) {
  .projects {
    margin: 2em;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__card {
    height: 100%;
    margin: 1.5em 0em;
  }
  .projects__card--image {
    width: 100%;
    margin-bottom: 1em;
  }
  .projects__card--tech {
    margin-bottom: 0.5em;
    color: #BAE8E8;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.95em;
  }
  .projects__card--title {
    font-size: 2em;
    font-weight: 600;
  }
  .projects__card--description {
    margin: 2em 0em;
    color: #8C9CB1;
  }
  .projects__card--buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5em;
  }
  .projects__card--buttons button {
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    background-color: white;
    border: none;
    display: flex;
    justify-content: flex-start;
  }
  .projects__card--buttons button img {
    margin-left: 1em;
  }
}
@media screen and (max-width: 480px) {
  .about {
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
  }
  .about__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 3em;
    margin: 1em auto;
  }
  .about__image {
    width: 98%;
    height: auto;
    margin: 1.5em 0;
  }
  .about__story {
    margin: 1em;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
    height: 25vh;
    background-color: #272643;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer__links {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer a {
    font-size: 1.5em;
    font-weight: 700;
    width: 1em;
    height: 1em;
    padding: 1em;
    margin: 0 1em;
    background-color: #BAE8E8;
    color: #272643;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-decoration: none;
  }
  .footer__email {
    font-size: 1.125em;
    color: white;
  }
}/*# sourceMappingURL=styles.css.map */